body {
  background-color: #101927;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
}

h1 {
  color: #6d77e2;
}

h2 {
  margin-bottom: 20px;
  margin-top: 0px;
}

header {
  text-align: center;
}

input {
  margin-top: 0;
  margin-bottom: 20px;
  background: #334158;
  color: whitesmoke;
  font-weight: 800;
  font-size: 58px;
  text-align: center;
  width: 200px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
}

/* focused state */
input:focus {
  background: #334158;
  color: #fff;
  outline: none;
  border: 1px solid #6d77e2;
}

button {
  background-color: #6d77e2;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 18px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0px solid white;
}

li {
  list-style-type: none;
}

/* layout */

.top,
#speed-banner,
.row {
  background: #1e2838;
  border-radius: 10px;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

#speed-banner {
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}
