body {
  background-color: #101927;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>; */
  /* font-style: normal; */
}

h2 {
  margin-bottom: 20px;
  margin-top: 0px;
}

header {
  text-align: center;
}

input {
  margin-top: 0;
  margin-bottom: 20px;
  background: #334158;
  color: whitesmoke;
  font-weight: 800;
  font-size: 58px;
  text-align: center;
  width: 200px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  /* Next two lines + two sections needed to override */
  /* default behavior which changed input colors when */
  /* entering text */
  -webkit-appearance: none;
  appearance: none;
}

/* focused state */
input:focus {
  background: #334158;
  color: #fff;
  outline: none;
  border: 1px solid #6d77e2;
}

button {
  background-color: #6d77e2;
  color: whitesmoke;
  font-size: 16px;
  font-weight: 700;
  padding: 6px 18px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0px solid white;
}

li {
  list-style-type: none;
}

/* layout */

.top,
#speed-banner,
.row {
  background: #1e2838;
  border-radius: 10px;
  margin: 20px 15px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #1e2838; */
  /* color: whitesmoke; */
  text-align: center;
  /* border-radius: 10px; */
  padding-top: 20px;
  /* margin-bottom: 20px; */
}

#speed-banner {
  /* background: #1e2838; */
  /* color: white; */
  font-weight: 500;
  text-align: center;
  font-size: 30px;
  padding: 20px;
  /* border-radius: 10px; */
}

.row {
  /* background: #1e2838; */
  display: flex;
  justify-content: space-evenly;
}
